<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li><%= link_to 'Add a new movie', new_list_bookmark_path(@list), class:'btn btn-primary m-2' %></li>
      <li><%= link_to 'Back to list index', lists_path, class: 'btn btn-secondary m-2' %></li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="card-category m-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= @list.photo.attached? ? cl_image_path(@list.photo.key, crop: :fill) : image_path('https://pixy.org/src/21/219269.jpg', height: 200) %>')">
    <h1><%= @list.name %></h1>
  </div>
  <div class="grid-container">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card card-background-colour text-white b-0" style="width: 16rem;">
        <img src="<%= bookmark.movie.poster_url %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= bookmark.movie.title %></h5>
          <p class="card-text"><%= bookmark.movie.overview %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item card-background-colour">Movie rating: <%= bookmark.movie.rating %></li>
          <li class="list-group-item card-background-colour"><%= bookmark.comment %></li>
          <li class="list-group-item card-background-colour"><%= link_to 'Remove movie', bookmark_path(bookmark), method: :delete, data: {confirm: "Remove movie?"} %></li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
<div class="index-banner banner-background grid-container-footer">
  <div class="container">
    <h5 class="text-center m-3">Made possible with help from Le Wagon Tokyo</h5>
  </div>
  <div class="container">
    <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_long_2-9665a76b1ae401a510ec1e0ca40ddcb3b0cfe45f1d51b77a308fea0845885648.svg" alt="TMDB logo" style="width: 24px heigth: 16px"  class="text-center m-4" >
  </div>
</div>
